
body{
  color: #424242;
  font-family: "Lucida Grande", Verdana;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1{
  color: #555555;
  text-align: center;
}

a{
  color: #99CC33;
  outline: none;
  text-decoration: none;
}

a img{
  border: none;
}

a.active{
  font-weight: bold;
}


.content{
  padding: 20px;
}




.items{
  border: 1px #ddd solid;
  margin: auto;
  padding: 10px;
  width: 250px;
}

.items .item{
  background: #FAFAFA;
  height: 25px;
  line-height: 25px;
  margin: 4px 5px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.items .item.done{
  color: #AAA;
  text-decoration: line-through;
}

.items #add_item{
  margin: 20px 0;
  text-align: center;
}